USE [master]
GO
/****** Object:  Database [parafia]    Script Date: 16.01.2023 05:50:33 ******/
CREATE DATABASE [parafia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'parafia', FILENAME = N'C:\Users\Marcin\parafia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'parafia_log', FILENAME = N'C:\Users\Marcin\parafia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [parafia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [parafia]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16.01.2023 05:50:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ksieza]    Script Date: 16.01.2023 05:50:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ksieza](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Imie] [varchar](50) NULL,
	[Nazwisko] [varchar](50) NULL,
	[Stanowisko] [int] NULL,
 CONSTRAINT [PK_Ksieza] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ministranci]    Script Date: 16.01.2023 05:50:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ministranci](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Imie] [varchar](50) NULL,
	[Nazwisko] [varchar](50) NULL,
	[Data_urodzenia] [date] NULL,
 CONSTRAINT [PK_Ministranci] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Msze]    Script Date: 16.01.2023 05:50:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Msze](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Data_mszy] [date] NULL,
	[ksiadz] [int] NULL,
	[ministrant] [int] NULL,
 CONSTRAINT [PK_Msze] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stanowiska]    Script Date: 16.01.2023 05:50:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stanowiska](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa_stanowiska] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Stanowiska] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ksieza]  WITH CHECK ADD  CONSTRAINT [FK_Ksieza_Stanowiska] FOREIGN KEY([Stanowisko])
REFERENCES [dbo].[Stanowiska] ([id])
GO
ALTER TABLE [dbo].[Ksieza] CHECK CONSTRAINT [FK_Ksieza_Stanowiska]
GO
ALTER TABLE [dbo].[Msze]  WITH CHECK ADD  CONSTRAINT [FK_Msze_Ksieza] FOREIGN KEY([ksiadz])
REFERENCES [dbo].[Ksieza] ([id])
GO
ALTER TABLE [dbo].[Msze] CHECK CONSTRAINT [FK_Msze_Ksieza]
GO
ALTER TABLE [dbo].[Msze]  WITH CHECK ADD  CONSTRAINT [FK_Msze_Ministranci] FOREIGN KEY([ministrant])
REFERENCES [dbo].[Ministranci] ([id])
GO
ALTER TABLE [dbo].[Msze] CHECK CONSTRAINT [FK_Msze_Ministranci]
GO
USE [master]
GO
